.theme-switcher-button {
  position: fixed;
  right: clamp(1rem, 5vw, 50px);
  top: clamp(1rem, 5vw, 50px);
  z-index: 1000;
}

.theme-switcher-image {
  height: clamp(3rem, 10vw, 125px);
  width: clamp(3rem, 10vw, 125px);
}