.header {
  z-index: 1000;
}

.header-link {
  font-size: clamp(14px, 2vw, 1.25rem);
  text-transform: capitalize;
}

.header-link:hover {
  @apply text-slate-950;
  @apply dark:text-gray-100;
  font-size: clamp(16px, 2vw, 1.4rem);
}

.heder-icon:hover {
  transform: scale(1.5);
}