.header {
  z-index: 2;
}

.header-links {
  font-size: clamp(0.5rem, 2vw, 1.25rem);
  text-transform: capitalize;
}

.header-links:hover {
  @apply text-slate-950;
  @apply dark:text-gray-100;
  font-size: clamp(0.5rem, 2vw, 1.4rem);
}