.gif {
  opacity: 0.8;
}

.low-quality-image {
  background-repeat: no-repeat;
  background-size: cover;
}

#welcome-logo {
  -webkit-mask-image: radial-gradient(farthest-corner at 305px 280px, rgb(0, 0, 0) 50%, transparent 100%);
  border-radius: 30%;
}