.monitoring-section {
  display: flex;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: min(1000px, 75vh);

  color: #ffffff;
  text-shadow: none;

  padding-bottom: 155px;
  padding-top: clamp(100px, 10rem, 180px);

}

.monitoring-section::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(180deg, #0157999c 0%, #000 100%);
  opacity: 0.8;
}

.container {
  z-index: 1;
  position: inherit;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: fit-content;
}

.header {
  font-size: clamp(2rem, 4vw, 4em);
  text-transform: uppercase;
}

.description {
  font-size: clamp(1rem, 2vw, 3rem);
}