.monitoring-section {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

  background: #000;
  color: #ffffff;
  text-shadow: none;

  padding-bottom: 155px;
  padding-top: 180px;

  display: block;
}

.monitoring-section::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(60deg, #07395c 0%, #000 100%);
  opacity: 0.8;
}